<div class="navbar">
  <ul>
    <li><img src="http://www.rutzenholzer.eu/static/pic/git.png" width="40px" alt="header-icon"></li>
    <li><form class="form-navbar"><input type="text" placeholder="Search GitHub" size="40"></form> </li>
  </ul>
</div>
{{outlet}}
